.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gmnoprint, .gm-control-active, .gm-fullscreen-control {
  display: none;
}
.mapa {
  width: 67%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* div listado de marcadores que sea un modal que ocupe 1/3 horizontal de la pantalla por encima del mapa y con un scroll vertical */
.listado-store {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  z-index: 1;
}
.listado {
  padding: 0px;
}
.item-store {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.item-store:nth-child(odd) {
  background-color: #9b9b9b;
}
.item-store:nth-child(even) {
  background-color: grey;
}
.title-listado {
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.infowindow {
  color: #000;
}

/*modal de search box*/
.search-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 15%;
  background-color: #fff;
  z-index: 1;
  padding: 10px;
  margin: 10px;
}
.search-box .search-box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-box .search-box-content .search-box-input {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}
.search-box .search-box-content .search-box-input:focus {
  outline: none;
}
.search-box .search-box-content .search-box-input::placeholder {
  color: #ccc;
}

.search-box-button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
.search-box-button .boton {
    margin: 5px; 
}
.search-box label {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,400;0,500;0,700;0,800;1,300;1,400;1,500&display=swap');

.search-box .search-box-content .search-box-input {
    border-radius: 0;
    height: auto;
    padding: 6px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    text-transform: uppercase;
}

.search-box .search-box-content {
    display: flex;
    flex-direction: row;
    height: auto;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

.search-box .search-box-content .search-box-button {
    width: auto;
    padding: 0;
    margin: 0;
    height: auto;
}

.search-box .search-box-content .search-box-button button {
    margin: 0;
    border: 0;
    padding: 7px 20px;
    background: #000;
    color: #fff;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}
.search-box-extra {
  display: flex;
  flex-direction: row;
  margin-top: 15%;
  background: white;
  color: black;
}

ul.listado {
    counter-reset: section;
}

ul.listado .item-store {
    position: relative;
    background: #fff;
    color: #333;
    padding-left: 35px;
}

h3.title-listado {
    font-size: 22px;
    text-transform: uppercase;
    background: transparent;
    color: #000;
    text-align: left;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

ul.listado .item-store h4 {
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
}

ul.listado .item-store p {
    text-align: left;
    font-size: 14px;
    text-transform: capitalize;
    margin: 0;
}

ul.listado .item-store button.boton {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border: 0;
    box-shadow: none;
    font-size: 0;
}

ul.listado .item-store button.boton:hover {
    opacity: 0.2;
}

ul.listado .item-store:before {
    counter-increment: section;
    content: counter(section)'.';
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.search-box {
    height: 50px;
}

.search-box .search-box-content .search-box-button button:hover {
    opacity: 0.75;
}
